/binaries/
/build/osx/build/
.DS_Store


/.DS_Store
/source/lib/.DS_Store

/source/lib/glsdk_0_5_2/.DS_Store
/source/lib/glsdk_0_5_2/glload/.DS_Store

build/osx/FFGLPlugins\.xcodeproj/xcuserdata/
build/osx/FFGLPlugins\.xcodeproj/project\.xcworkspace/xcuserdata/

.vs
Debug
Release
