/build/osx/.DS_Store

/binaries/.DS_Store

/binaries/
/build/osx/build/

/source/.DS_Store

/.DS_Store
/source/lib/.DS_Store

/source/lib/glsdk_0_5_2/.DS_Store
/source/lib/glsdk_0_5_2/glload/.DS_Store
build/windows/x86/
*.suo
*.sdf
*.opensdf
*.db
*.user
